<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="utf-8" />-->
    <!--<title>RegisterHeader</title>-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />-->
    <!--<style type="text/css">-->
        <!--body {-->
            <!--padding-top: 1px;-->
            <!--/*background-color: green;*/-->
            <!--background-image: url("http://cdn-media-1.lifehack.org/wp-content/files/2015/03/10-Reasons-Why-People-Who-Read-A-Lot-Are-More-Likely-To-Be-Successful.jpg");-->
            <!--background-size: 100% 100%;-->
            <!--background-repeat: no-repeat;-->
        <!--}-->

        <!--/*.form-heading {-->
            <!--width: 200px;-->
            <!--margin: auto;-->
        <!--}*/-->

        <!--.form-container {-->
            <!--width: 600px;-->
            <!--margin: auto;-->
        <!--}-->

        <!--.credits {-->
            <!--border-top: 1px solid #ddd;-->
            <!--margin-top: 40px;-->
            <!--padding-top: 20px;-->
        <!--}-->
    <!--</style>-->
<!--</head>-->
<!--<body>-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>RegisterHeader</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">
        body {
            padding-top: 1px;
            /*background-color: green;*/
            background-image:
                    url("http://1zxig52eo2js464ld31v6ig86yy.wpengine.netdna-cdn.com/wp-content/uploads/2014/01/iStock_000011513482Large.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        /*.form-heading {
            width: 200px;
            margin: auto;
        }*/

        .form-container {
            width: 400px;
            margin-left: 50%;
            color: black;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
    </style>
</head>
<body>